.detailedViewContainer {
  font-style: italic; 
  padding: 2%; 
}

.articleImageContainer {
  padding-top: 50px; 
  text-align: center; 
}

.articleImage {
  position: relative;
  width: 48%;
  height: unset; 
  z-index: 2;
}

.savedArticleTitleContainer {
  text-align: center; 
  font-size: 2.2em; 
  margin: 25px 0 40px 0; 
}

.detailedViewLabel {
  font-size: 1.4em; 
  margin: 0 20px; 
}

.locationCoords {
  margin-left: 45px
}

.articleDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summaryContainer {
  margin: 10px 20px; 
}

.locationCoords, 
.dateCollected, 
.summaryContainer {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 1.2em; 

}

.detailedViewLabel,
.locationCoords, 
.locationCoordContainer,
.dateCollected {
  display: inline; 
}

.snippetAndOpenWikiContainer {
  margin-right: 30px; 
  display: flex; 
  justify-content: space-between;
  align-items: baseline;
}

.openOnWikiBtn{
  border-style: solid;
  border-width: 0.5px;
  padding: 5; 
  font-size: 0.7em; 
  width: fit-content;  
}

.closeBtnContainer {
  display: flex; 
  justify-content: center; 
  margin-top: 10%; 
}

.coloredGlow {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  aspect-ratio: 1 / 1;
  z-index: -1;
  transform: translateX(-18%) translateY(-35%);
}

.coloredGlowContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}