.toggleContainer {
  color: var(--background);
  width: 100%;
  border-radius: 100vh;
}

.toggleContainer.selected {
  background-color: var(--accent);
  color: var(--foreground);
}

.toggleButton {
  width: 100%;
  height: 100%;
  padding: 3px 5px;
}

.toggleButtonImage {
  width: 25px;
  height: unset;
}

.imageAndTextContainer {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  flex-grow: 1;
}